<h1>{{form.value | json}}</h1>

<form [formGroup]="form">
    <trumbowyg-ngx-editor id="editor" formControlName="foo"></trumbowyg-ngx-editor>
</form>

<form [formGroup]="form">
    <textarea id="withDirective" trumbowygNgxEditor formControlName="foo"></textarea>
</form>

<form [formGroup]="form">
    <trumbowyg-ngx-editor id="withPlaceholder" placeholder="bar" formControlName="foo"></trumbowyg-ngx-editor>
</form>

<form [formGroup]="form">
    <textarea id="withDirectiveAndPlaceholder" trumbowygNgxEditor placeholder="bar" formControlName="foo"></textarea>
</form>

<form #f="ngForm">
    <trumbowyg-ngx-editor id="disabled" name="model" [(ngModel)]="model" disabled></trumbowyg-ngx-editor>
</form>

<form #f1="ngForm">
    <textarea trumbowygNgxEditor id="withDirectiveDisabled" name="model" [(ngModel)]="model" disabled></textarea>
</form>

<form #f2="ngForm">
    <trumbowyg-ngx-editor id="withContent" name="modelWithContent"
                          [(ngModel)]="modelWithContent"></trumbowyg-ngx-editor>
</form>

<form #f3="ngForm">
    <textarea trumbowygNgxEditor id="directiveWithContent" name="modelWithContent"
              [(ngModel)]="modelWithContent"></textarea>
</form>

<form #f4="ngForm">
    <trumbowyg-ngx-editor id="configOverride" name="configOverride" [options]="options"
                          [(ngModel)]="modelWithContent"></trumbowyg-ngx-editor>
</form>

<form #f5="ngForm">
    <textarea trumbowygNgxEditor id="directiveWithConfigOverride" name="configOverride" [options]="options"
              [(ngModel)]="modelWithContent"></textarea>
</form>

